.fr-loading{
	width: 100vw;
	height: 100vh;
	background: #fff;
	z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bubblingG {
	text-align: center;
	width:90px;
	height:56px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 99999;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 11px;
	margin: 28px auto;
	background: #bda569;
	border-radius: 56px;
		-o-border-radius: 56px;
		-ms-border-radius: 56px;
		-webkit-border-radius: 56px;
		-moz-border-radius: 56px;
	animation: bubblingG 0.775s infinite alternate;
		-o-animation: bubblingG 0.775s infinite alternate;
		-ms-animation: bubblingG 0.775s infinite alternate;
		-webkit-animation: bubblingG 0.775s infinite alternate;
		-moz-animation: bubblingG 0.775s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.2295s;
		-o-animation-delay: 0.2295s;
		-ms-animation-delay: 0.2295s;
		-webkit-animation-delay: 0.2295s;
		-moz-animation-delay: 0.2295s;
}

#bubblingG_3 {
	animation-delay: 0.469s;
		-o-animation-delay: 0.469s;
		-ms-animation-delay: 0.469s;
		-webkit-animation-delay: 0.469s;
		-moz-animation-delay: 0.469s;
}



@keyframes bubblingG {
	0% {
		width: 11px;
		height: 11px;
		background-color: #bda569;
		transform: translateY(0);
	}

	100% {
		width: 27px;
		height: 27px;
		background-color:rgba(255,255,255,0.98);
		transform: translateY(-24px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 11px;
		height: 11px;
		background-color:rgb(0,0,0);
		-o-transform: translateY(0);
	}

	100% {
		width: 27px;
		height: 27px;
		background-color:rgba(255,255,255,0.98);
		-o-transform: translateY(-24px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 11px;
		height: 11px;
		background-color: #bda569;
		-ms-transform: translateY(0);
	}

	100% {
		width: 27px;
		height: 27px;
		background-color:rgba(255,255,255,0.98);
		-ms-transform: translateY(-24px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 11px;
		height: 11px;
		background-color:#bda569;
		-webkit-transform: translateY(0);
	}

	100% {
		width: 27px;
		height: 27px;
		background-color:rgba(255,255,255,0.98);
		-webkit-transform: translateY(-24px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 11px;
		height: 11px;
		background-color:#bda569;
		-moz-transform: translateY(0);
	}

	100% {
		width: 27px;
		height: 27px;
		background-color:rgba(255,255,255,0.98);
		-moz-transform: translateY(-24px);
	}
}